*,
*::before,
*::after{
	margin: 0;
	padding: 0;
}

html{
	font-size: 20px;
	font-family:  'SF Pro Display', sans-serif;
}

.container{
	padding: 0 2.2rem;
	margin: 0 auto;
	max-width: 98rem;
}

header{
	position: fixed;
	top: 0;
	z-index: 1400;
	width: 100%;
	height: 4.4rem;
	background-color: rgba(255, 255, 255, 1);
	backdrop-filter: blur(2rem);
}

.blog_name{
	text-decoration: none;
	background-image: linear-gradient(45deg, yellow, green);
	-webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
	font-size: 25px;
	-webkit-text-stroke: 0.5px black;
}

.head_cont{
	padding: 1rem 2.2rem;
}

.intro_section{
	height: 20.2rem;
	margin-top: 4.4rem;
	background-color: rgba(255, 255, 255, 1);
	background-size: auto 24.6rem;
	background-repeat: no-repeat;
	text-align: center;
}

.intro{
	color: black;
}

.sec_cont{
	padding: 5rem 0;
	width: 70vw;
}

.code{
	height: 20.2rem;
	background-size: auto.2rem;
	background-repeat: no-repeat;
	padding-top: 2rem;
}

.code_sec_cont{
	display: flex;
	justify-content: center;
}

.code-description{
	height: 20.2rem;
}

.code-script{
	width: 30rem;
	height: 20.2rem;
	overflow-x: auto;
    overflow-y: auto;
}

.title{
	width: 30rem;
	padding: 0 1.5rem;
	text-align: center;
}

.hashtags{
	background-image: linear-gradient(45deg, #C7F800, #078513);
	-webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-text-fill-color: transparent;
	-webkit-text-stroke: 0.2px black;
}